body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mainparenthai {
  display: flex;
  flex-direction: column;
}

.badabhai {
  position: relative;
}

#video-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 740px;
  z-index: -1;
}

#video1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(3px);
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#iskofixkaro img {
  width: 150px;
  top: 20px;
  left: 20px;
  position: absolute;
}

#content #helloText {
  font-family: "Caveat", cursive;
  font-size: 60px;
}

#content #upperpara {
  color: #ff8c00;
  font-size: 52px;
  font-family: "Tilt Neon", sans-serif;
  text-shadow: 2px 2px 4px #888888;
}

#content p {
  font-weight: 900;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: "Caveat", cursive;
}

.chotabhai {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  height: 800px;
  position: relative;
  padding-top: 30px;
  background-image: url(/pics/people.jpg);
  background-size: cover;
  padding-left: 2%;
}
.chotabhai .missionhai {
  width: 40%;
}
.chotabhai h1 {
  color: #FF9211;
  font-size: 3em;
  font-family: "Tilt Neon", sans-serif;
  text-shadow: 2px 2px 4px #888888;
}
.chotabhai p {
  font-weight: 900;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  font-family: "Caveat", cursive;
  text-align: justify;
  font-weight: bolder;
}

.chotabhai img {
  border-radius: 10%;
  width: 400px;
  height: 350px;
}

.sahihai, .thikhai {
  transform: rotate(10deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#myModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
}

/* Style for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

.aboutnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px 10px 10px;
  background-color: #D7CA9A;
}

.logo {
  width: 70px; /* Adjust the width as needed */
}

.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #333; /* Adjust the color as needed */
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff4500; /* Color on hover */
  transform: scale(1.2);
}

.user-actions a {
  border-radius: 5px;
  background: linear-gradient(45deg, #ff4500, orange);
  padding: 7% 15%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.user-actions a:hover {
  transform: scale(1.1);
}

.user-actions {
  display: flex;
  gap: 20px;
}

/*  <----------Footer------------> */
footer {
  padding: 2%;
}

footer div {
  display: flex;
}

footer div a {
  text-decoration: none;
  white-space: nowrap;
}

footer div div {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: start;
}

ul {
  margin-top: 1%;
  padding: 2%;
  font-weight: bold;
  list-style: none;
}

ul li {
  padding: 7% 2%;
}

#end {
  display: flex;
  justify-content: space-between;
}

#end div {
  display: flex;
  padding: 2% 5%;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

ul li a {
  font-weight: bold;
  font-size: 16px;
  -webkit-background-clip: text;
  color: gray;
  transition: background-position 0.3s ease;
}

ul li a:hover {
  background-position: 100%;
}

.contactlinks {
  width: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.contactlinks img {
  width: 30px;
}/*# sourceMappingURL=about.css.map */