.text-data{
    width: 40%;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 10%;

    color: #ddd;
}
.text-head{
    font-size: 100px
    
    ;
}
.text-data span{
    color: rgb(230,107,24);

}

#head img {
    width: 100%;
  }
  #stories div {
    width: 50%;
    margin: auto;
  }
  #stories img {
    width: 90%;
    margin: auto;
  }
  #stories span,
  h2 {
    color: orangered;
  }
  #stories {
    display: flex;
    padding: 2%;
    align-items: center;
  }
  #stories #s-title {
    font-size: xx-large;
    padding: 2%;
    font-weight: bolder;
  }
  #stories #s-data {
    padding: 2%;
    font-size: large;
  }

#s-data{
    display: flex;
   
    gap: 20px;
   
}
#s-data div{
    padding: 1% 3%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    width: min-content;
}

#adventure span {
    color: orangered;
  }
  #adv-img  img{
   width: 100%;
 
  }
  #adventure div:first-child {
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 2%;
  }
  #adv-title {
    font-size: xx-large;
    font-weight: bolder;
  }


/* <--about-us--> */
#about-us {
    display: flex;
    align-items: center;
  }
  #about-us img {
    width: 100%;
  }
  #about-us #about-text {
    padding: 2%;
    padding-left: 5%;
  }
  #about-us #about-title {
    font-size: xx-large;
    width: 50%;
    font-weight: bolder;
  }
  #about-us span {
    color: orangered;
  }

  /* <--get started --> */
  #get-started {
    background-color: antiquewhite;
    margin: 2%;
    border-radius: 5px;
    padding: 4% 2%;
    text-align: center;
  }
  #start-text {
    width: 60%;
    margin: auto;
  }
  #start-text button {
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, orangered, orange);
    padding: 1%;
    color: white;
    font-weight: bold;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #start-title {
    font-size: xx-large;
    width: 50%;
    margin: auto;
    padding: 2%;
    font-weight: bolder;
  }
  #start-title span {
    color: orangered;
  }

  /* <-----------footer-----> */

  

