/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("/images/Logback.jpg");
    height:100%;
}
.container{ 
   height:100%;
   display:flex;
   align-items:center;
   justify-content:center;
   
}
.content{
    background-color:white;
    width:500px;
    height:550px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
img{
    width: 100%;
    height: 25%;
}
.form-title{
    padding:10px 40px 0px;
    color: #4caf50;
}
form{
    padding:0px 40px;
}
input[type=text], [type=email], [type=password]{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    width:100%;
    margin: 8px 0;
    padding:10px 0;
}
input[type=number]{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    margin: 8px 0;
    padding:5px 0;
}
input :hover {
    background-color: red;
}
.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
select{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    margin: 8px 0;
    padding:5px 0;
    width:50%;
}

button{
    color:#ffffff;
    background-color: #4caf50;
    height:40px;
    width:25%;
    margin-top:15px;
    cursor: pointer;
    border:none;
    border-radius:2%;
    outline:none;
    text-align:center;
    font-size:16px;
    text-decoration:none;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
}
button:hover{
    background-color:#333333;
}
.back{
   text-decoration: solid;
   margin-left: 150px;
   color: #4caf50;
   font-weight:bold;
}

@media(max-width: 575.98px){
    input, select, button{
        width:100% !important;
    }
    .content{
        width: 100%;
        height: auto;
    }
    .back{
        /* display: inline; */
        margin-left: 30%;
    }
} 