body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("/images/wepik-export-20231213110057mS4X.jpeg");
    background-position: center;
    background-size: cover;
}

header {
    background-color: #333333c6;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;

    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        background-image: url(/pics/wepik-export-20231213110057mS4X.jpeg);
        background-position: center;
        background-size: cover;
    }

    header {
        background-color: #333333c6;
        color: #fff;
        text-align: center;
        padding: 1em;
    }

    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #2c5e3692;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    h2 {
        color: #070707;
    }

    .flight-booking {
        background-color: rgba(173, 130, 55, 0.738);
        padding: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }


    .packages {
        display: flex;
        justify-content: space-around;
        margin: 20px auto;
    }



    #book-now-btn {
        display: inline-block;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        margin-bottom: 20px;
        background-color: #044713;
        color: #bbcbc5;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #book-now-btn:hover {
        background-color: #374c05;
        color: #071301;
    }

    /* Styles for the Travel Packages section */


    .package {
        flex: 1;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        margin: 0 10px;
        background: linear-gradient(to bottom, #a553536d 50%, #f3f3f3 100%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .package:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .package h3 {
        color: #8c1f09;
        font-size: 1.5em;
    }

    .package p {
        color: #141601;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .package button {
        background: linear-gradient(to bottom, #b94111 0%, #bd6627 100%);
        color: #fff;
        font-weight: bold;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .package button:hover {
        background: linear-gradient(to bottom, #8f330c 0%, #bc6c2b 100%);
    }

    /* Styles for input tags */
    input,
    .submitButton {
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        box-sizing: border-box;
        margin-right: 10px;
        font-weight: 600;
        font-size: 16px;
    }

    .submitButton {
        background-color: #9b6e13fa;
    }

    /* Style for placeholder text */
    input::placeholder {
        color: #999;
    }

    .submitButton:hover {
        background-color: #4c5f089e;
        cursor: pointer;
        transition: background-color 0.3s ease;
        color: rgb(3, 7, 4);
    }

    margin: 20px auto;
    padding: 20px;
    background-color: #2c5e3692;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #070707;
}

.flight-booking {
    background-color: rgba(173, 130, 55, 0.738);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.packages {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}



#book-now-btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    background-color: #044713;
    color: #bbcbc5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#book-now-btn:hover {
    background-color: #374c05;
    color: #071301;
}

/* Styles for the Travel Packages section */


.package {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    margin: 0 10px;
    background: linear-gradient(to bottom, #a553536d 50%, #f3f3f3 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.package:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.package h3 {
    color: #8c1f09;
    font-size: 1.5em;
}

.package p {
    color: #141601;
    margin-bottom: 15px;
    font-weight: bold;
}

.package button {
    background: linear-gradient(to bottom, #b94111 0%, #bd6627 100%);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.package button:hover {
    background: linear-gradient(to bottom, #8f330c 0%, #bc6c2b 100%);
}

/* Styles for input tags */
input,
.submitButton {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
}

.submitButton {
    background-color: #9b6e13fa;
}

/* Style for placeholder text */
input::placeholder {
    color: #999;
}

.submitButton:hover {
    background-color: #4c5f089e;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(3, 7, 4);
}

/* Styles for the modal */

.modal {
    display: none;
    position: fixed;
    height: 200px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #eff5f6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* containers  */

#packages-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    background: linear-gradient(to bottom, #066455 0%, #7a9916e7 100%, rgb(207, 182, 73));
}

.package-card {
    width: 300px;
    margin: 16px;
    text-justify: auto;
    text-align: center;
    padding-bottom: 1%;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.package-card:hover {
    transform: scale(1.05);
}

.package-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.package-card h3 {
    color: #1a1818;
    margin: 12px 0;
}

.package-card p,
h4 {
    color: #2f2b2b;
    margin: 8px 0;
}

.package-card button {
    margin-top: auto;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1c8521b3;
    color: #042316;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.package-card button:hover {
    background-color: #044713;
    color: #bbcbc5;
}